body {
    padding-top: 50px;
    padding-bottom: 20px;
    transform: scale(2);
    transform-origin: 0 0;
    background-color: #0b0a18;
    color:white;
}

button {
    color: #0b0a18;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
   

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.gauge {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid #59CEE9;
    border-radius: 666em;
    position: relative;
}

    .gauge::before, .gauge::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 10px solid #59CEE9;
        border-radius: 666em;
        display: none;
    }

    .gauge::before {
        clip: rect(0, 100px, 100px, 50px);
    }

    .gauge::after {
        clip: rect(0, 50px, 100px, 0);
    }

    .gauge[data-fill="25"]::before,
    .gauge[data-fill="50"]::before,
    .gauge[data-fill="75"]::before,
    .gauge[data-fill="100"]::before {
        display: block
    }

    .gauge[data-fill="25"]::before {
        clip: rect(0, 100px, 50px, 50px);
    }

    .gauge[data-fill="75"]::after,
    .gauge[data-fill="100"]::after {
        display: block
    }

    .gauge[data-fill="75"]::after {
        clip: rect(50px, 50px, 100px, 0);
    }

.gauge-enhanced {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #59CEE9;
    border-radius: 666em;
    position: relative;
    background: white;
}

    .gauge-enhanced::before, .gauge-enhanced::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 10px solid #59CEE9;
        border-radius: 666em;
    }

    .gauge-enhanced::before {
        clip: rect(0, 80px, 80px, 40px);
    }

    .gauge-enhanced::after {
        clip: rect(0, 40px, 80px, 0);
        border-color: white;
        background: white;
    }

    .gauge-enhanced[data-fill="0"]::before {
        transform: rotate(-180deg)
    }

    .gauge-enhanced[data-fill="25"]::before {
        transform: rotate(-90deg)
    }
    /*180 - 180*(0.33*2)*/
    /*.gauge-enhanced[data-fill="33"]::before {
        transform: rotate(-61.2deg)
    }

    .gauge-enhanced[data-fill="50"]::before {
        transform: rotate(0deg)
    }

    .gauge-enhanced[data-fill="66"]::after,
    .gauge-enhanced[data-fill="75"]::after,
    .gauge-enhanced[data-fill="100"]::after {
        border-color: #335
    }

    /*180*(0.33*2)*/
    /*.gauge-enhanced[data-fill="66"]::after {
        transform: rotate(-118.8deg)
    }

    .gauge-enhanced[data-fill="75"]::after {
        transform: rotate(-90deg)
    }**//*/

/*h2:nth-of-type(1), section:nth-of-type(1), h2:nth-of-type(2), section:nth-of-type(2) {
  display: none;
  }*/

.gauge-markup {
    width: 5em;
    height: 5em;
    display: inline-block;
    background: rgba(0,0,0,0.05);
    position: relative;
    left: 10%;
    border: 1px solid #59CEE9 ;
    text-indent: -999em;
    margin: .5em;
}

    .gauge-markup::before {
        content: attr(data-fill-exact);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-indent: 0;
    }

    .gauge-markup,
    .gauge-markup span,
    .gauge-markup span::before,
    .gauge-markup span::after {
        border-radius: 10em;
    }

        .gauge-markup span,
        .gauge-markup span::before,
        .gauge-markup span::after {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0%;
            
            width: 100%;
            height: 100%;
        }

        /* Container clipping handling */
        .gauge-markup[data-fill^="6"] span,
        .gauge-markup[data-fill^="7"] span,
        .gauge-markup[data-fill^="8"] span,
        .gauge-markup[data-fill^="9"] span,
        .gauge-markup[data-fill^="10"] span {
            clip: rect(auto,auto,auto,auto)
        }

        .gauge-markup span,
        .gauge-markup[data-fill="6"] span,
        .gauge-markup[data-fill="7"] span,
        .gauge-markup[data-fill="8"] span,
        .gauge-markup[data-fill="9"] span,
        .gauge-markup[data-fill="10"] span {
            clip: rect(0, 5em, 5em, 2.5em);
        }

            .gauge-markup span::before,
            .gauge-markup span::after {
                border: 1em solid #59CEE9;
                content: '';
                clip: rect(0, 2.5em, 5em, 0);
            }

            .gauge-markup span::before {
                transform: rotate(180deg);
            }

        /* All the values can be computed by a css pre processor loop */
        /*Every 5 percent will be calculated ~ Wolfen*/
        .gauge-markup[data-fill="0"] span::before {
            transform: rotate(0deg)
        }

        .gauge-markup[data-fill="5"] span::before {
            transform: rotate(18deg)
        }
        .gauge-markup[data-fill="10"] span::before {
            transform: rotate(36deg)
        }

        .gauge-markup[data-fill="15"] span::before {
            transform: rotate(54deg)
        }

        .gauge-markup[data-fill="20"] span::before {
            transform: rotate(72deg)
        }

        .gauge-markup[data-fill="25"] span::before {
            transform: rotate(90deg)
        }

        .gauge-markup[data-fill="30"] span::before {
            transform: rotate(108deg)
        }

        .gauge-markup[data-fill="33"] span::before {
            transform: rotate(118.8deg)
        }

        .gauge-markup[data-fill="35"] span::before {
            transform: rotate(126deg)
        }

        .gauge-markup[data-fill="40"] span::before {
            transform: rotate(144deg)
        }
        
        .gauge-markup[data-fill="45"] span::before {
            transform: rotate(162deg)
        }

        .gauge-markup[data-fill="50"] span::before {
            transform: rotate(180deg)
        }

        .gauge-markup[data-fill="55"] span::after {
            transform: rotate(-162deg)
        }

        .gauge-markup[data-fill="60"] span::after {
            transform: rotate(-144deg)
        }

        .gauge-markup[data-fill="65"] span::after {
            transform: rotate(-126deg)
        }

        .gauge-markup[data-fill="70"] span::after {
            transform: rotate(-108deg)
        }

        .gauge-markup[data-fill="75"] span::after {
            transform: rotate(-90deg)
        }

        .gauge-markup[data-fill="80"] span::after {
            transform: rotate(-72deg)
        }

        .gauge-markup[data-fill="85"] span::after {
            transform: rotate(-54deg)
        }

        .gauge-markup[data-fill="95"] span::after {
            transform: rotate(-18deg)
        }

        .gauge-markup[data-fill="90"] span::after {
            transform: rotate(-36deg)
        }